<a href="https://colab.research.google.com/github/jameseveryday/james-portfolio/blob/main/hotel_booking.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Analyzing Hotel Booking Cancellations
## Module 5 Python Final Task

Welcome to the Module 5 Final Task in Python. For this notebook, we will be applying all the concepts that we have previously learned in order to solve a business-related problem.

In order to finish the task, we will have to supply the necessary python codes in order to achieve the expected output. Some of the tasks given contain hints and guides to achieve the expected output

## Guides on Answering the task

For this Final Task, there are cells needed to be run, edited, or filled-out, and it would be categorized in three (3) categories:

1. Cells that only needs to run: These types of cells **don't need changes or additions to the code** and you would **just have to run them**. If this cell returns an error, the problem would be on the previous cell(s) that come before it.
```python
# Run the given cell
variable = function(arg1,arg2)
```

2. Cells that are fill-in-the-blanks: These types of cells are commented and would have to edit the cell by uncommenting the code and fill in the missing parts in order to achieve a particular objective.
```python
# Fill in the blanks
# ________ = __._______(________)
```
When filled-out, this would turn into:
```python
# Fill in the blanks
variable = pd.function('value')
```

3. Cells that are completely blank: These cells do need to provide the code from scratch to achieve a particular objective.
```python
# Enter your code here
```
```python
# Enter your code here
my_data.method(arg='value', arg2='value2')
```

Although, there would be times that a "Hint" option would be given alongside the given objective. We can click them to show a hint in order to achieve a particular task.

**Press "Hint" below to show a hint.**

<details>
<summary>Hint</summary>

You will be able to see a hint inside this area, something to keep in mind.

```python
# Some example codes would be given here as well
```

</details>

## Business Context

As a Data Analyst of a company owning a city hotel in a metropolitan area and a resort hotel located near a coastline both within the United States, you've been assigned by your manager to provide insights on the recent rise of hotel booking cancellations in both hotels for the past few months. These events causes the management to suffer financial losses and they would like to know some leads on reasons why customers cancel their room reservations.

## Dataset

You've been given a dataset containing a list of bookings recorded in the booking system. Each row consist a booking made for a particular date and it also contains details containing the following:

| Column Name                    | Description                                                                 |
|--------------------------------|-----------------------------------------------------------------------------|
| hotel                          | The type of hotel the booking was made                                      |
| lead_time                      | The time (in hours) between the booking date and the expected arrival date  |
| arrival_date_year              | The year of guest's expected arrival                                        |
| arrival_date_month             | The month of guest's expected arrival                                       |
| arrival_date_day_of_month      | The day of the month of guests's expected arrival                           |
| adults                         | Describes how many guests in the booking are adults                         |
| children                       | Describes how many guests in the booking are children                       |
| babies                         | Describes how many guests in the booking are babies                         |
| meal                           | A category that describes what type of meal ordered by the guest |
| country                        | Country of Origin (in ISO 3166 Alpha-3 code format)                         |
| is_repeated_guest              | Describes whether or not the guest have booked before                       |
| previous_cancellations         | Describes the number of previous cancellations by the guest                 |
| previous_bookings_not_canceled | Describes the number of previous non-canceled bookings by the guest         |
| reserved_room_type             | A category that describes what room type the guest reserved                 |
| assigned_room_type             | A category that describes what room type the guest received                 |
| booking_changes                | The number of changes the customer did on the booking                       |
| deposit_type                   | The type of payment deposit used by the guest                               |
| days_in_waiting_list           | Describes the number of days the guest was in the waiting list              |
| customer_type                  | Describes the type of guest in the booking                                  |
| adr                            | The potential "Average Daily Revenue" of the booking                        |
| car_parking_spaces             | The number of car parking spaces requested by the guest                     |
| special_requests               | The number of special requests given by the guest                           |
| status                         | The updated status of the booking                                           |
| status_last_update             | The date of the status registered to the booking system                     |

## Importing Python Libraries

For us to analyze the given data, we first have to import the necessary Python libraries.

### Task 1: Import the following python libraries to be used for this task

- `pandas` with alias `pd`
- `matplotlib.pyplot` with alias `plt`
- `seaborn` with alias `sns`

In [1]:
# Enter your code here
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Dataset Loading

Now that we've imported the libaries, it's time to load up the dataset.

For this task, we're going to load up the `.csv` file named `hotel_bookings_data.csv`.

### Task 2: Load the `.csv` file into a pandas dataframe and store it in a variable named `data`.

Note: For us to find the dataset stored in our drive, you may want to first mount the drive by clicking on the mount button, or by running the given code below

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Another thing is that we make sure to download the given dataset and upload it to your Drive. You may use the given link for download:
```
https://drive.google.com/uc?export=download&id=1sd_kQmPppftKdSIeSL2MXXc7bwQoveTr
```

After mounting the drive and uploading the dataset on it, we can import the given dataset.

In [ ]:
# Fill in the blanks

# data = ____._______(__________)
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Refocus/Module 5. Lesson 10. Final Task/hotel_bookings_data.csv')

<details>
<summary>Hint</summary>

You can use pandas `read_csv()` function in order to load up a `.csv` file.
```python
my_variable = pd.read_csv('file/to/path.csv', ...)
```

</details>

To check if the loading was successful, we can use the `.head()` method to show the top 5 rows in the data

In [ ]:
# Run the given cell
data.head()

We can also check the dataframe details as well using `.info()` method

In [ ]:
# Run the given cell
data.info()

## Data Cleaning

Before proceeding to the analysis, we would have to clean up the data first.

Keep in mind that before analyzing any form of data, we have to make sure that the data we have on hand is clean and free of irregularities.

### Task 3: Remove all completely duplicated rows in the dataframe `data`

To start off, we can first check if there are any duplicates found in the dataset.

In [ ]:
# Run the given cell
data[data.duplicated()]

We found that there are around 32 thousand rows that are considered as complete duplicates. We have to first remove them in our `data` dataframe

Provide the code where the expected output is that our dataframe `data` no longer have duplicate values

In [ ]:
# Enter your code here
data = data.drop_duplicates()
data

<details>
<summary>Hint</summary>

There are many possible ways to remove the shown duplicates.

You can use the `drop_duplicates()` method to remove the complete duplicates in the given dataframe e.g. `my_dataframe.drop_duplicates()`

Another method is to get the indexes of the duplicates, and filter out using `~`
```python
index_duplicates = my_dataframe.duplicated().index
```
```python
my_dataframe[~index_duplicates]
```

</details>

To check, we can verify that there would only be 87300 rows left in our dataframe `data`. Running the `assert` cell should not return an error.

If there was an error, we have to check whether we correctly remove the duplicates in the data.

In [ ]:
# Run the given cell

print(data.shape)

In [ ]:
# Run the given cell

assert(data.shape == (87300, 24))

### Task 4: Check the Columns containing Missing Values

Now that we finished on cleaning the duplicates, it's time to clean-up the missing values in our dataset.

For us to check which columns have missing values, we have to create a pandas series named `num_missing_cols` that shows a list of columns along with the number of missing values indicated as `NaN`, and sort based on their values in descending order.

In [ ]:
# Fill in the blanks

# ____________ = data.____().____().______(ascending=______)
num_missing_cols = data.isna().sum().sort_values(ascending=False)
num_missing_cols

<details>
<summary>Hint</summary>

We can use `.isna()` to tell whether a given data is `NaN` or not, then use `.sum()` to sum these number of `NaN` by column, and use `.sort_values()` to sort their counts.

We can implement the idea using method chaining.

Example:
```python
my_dataframe.method_1().method_2().method_3(argument='value')
```

</details>

In [ ]:
# Run the given cell

print(num_missing_cols)

For us to verify our progress, we would be running some `assert` statements and see if it results to an error.

If it shows an error, it means that we have to modify our code to the correct one.

In [ ]:
# Run the given cell

assert(type(num_missing_cols) == pd.Series)
assert(num_missing_cols.shape == (24,))
assert(all(num_missing_cols[:3] == [451,4,0]))

We can see in our counts that both columns `country` and `children` have missing values. We would be cleaning them in the next task.

### Task 5: Clean the `country` and `children` column by providing a default value

When we look at the `country` and `children` columns further:

In [ ]:
# Run the given cell

data[data['country'].isna()].head()

In [ ]:
# Run the given cell

data[data['children'].isna()].head()

We can see that there are some rows have missing values indicated as `NaN`.

There are several methods in order for our data to be cleaned. One of the methods is called "imputation" which is providing the best guess of what data can be applied to the missing values.

In the `country` column, there might be some guests that do not have a particular country of origin, or if the guest has a particular country of countries to choose from when applying for a hotel booking.

<br>

**With that kind of scenario, it would be best to keep these rows and provide a value labeled `Other` to the missing values in the `country` column.**

In [ ]:
# Write your code here
data['country'] = data['country'].fillna('Other')

<details>
<summary>Hint</summary>

We can use `.fillna()` in order to fill out the missing values in the column:

Examples:
```python
my_dataframe['col_name'] = my_dataframe['col_name'].fillna('default value')
```

```python
my_dataframe['col_name'].fillna('default value', inplace=True)
```

Both of these examples would yield the same result. It's only in the matter of preference.

</details>

On the other hand, there are missing values in the `children` column. There are a variety of reasons why there are missing values in this column. In this case, you've learned from the company's previous analysis that it's most likely the guests have no children but forgot to fill the data in the column.

<br>

**In this case, we can impute the missing data by filling out with `0` on the `children` column.**

In [ ]:
# Write your code here
data['children'] = data['children'].fillna(0)

<details>
<summary>Hint</summary>

Same as the previous one, we can still use `.fillna()` in order to fill out the missing values in the column:

Examples:
```python
my_dataframe['col_name'] = my_dataframe['col_name'].fillna('default value')
```

```python
my_dataframe['col_name'].fillna('default value', inplace=True)
```

Both of these examples would yield the same result. It's only in the matter of preference.

</details>

For us to verify our progress, we'll going to initially check them using `assert` statement. If the following cell yields an error, we might have to check our code again to have the correct answer. Otherwise, our code would be correct

In [ ]:
# Run the given cell

assert(all(data[['country','children']].isna().sum() == 0))

### Task 6: Clean the date-related columns by creating a column with datetime data type.

Lastly, we would be cleaning up the date columns by converting them into a `datetime` data type.

The process of cleaning up date columns may vary, and this is one way that you can use in order to clean up the date columns.

When we observe our arrival date at hand:

In [ ]:
# Run the given cell

cols_to_use = ['arrival_date_year','arrival_date_month','arrival_date_day_of_month', 'status_last_update']

data[cols_to_use].head()

In [ ]:
# Run the given cell

data[cols_to_use].info()

We can observe that are three columns that defines the arrival date of a particular guest. On the other hand, we have `status_last_update` which contains all the date data in a column.

Our objective here is to first convert these columns arrival date columns to a string, and concatenate them. Afterwards, convert this concatenated column along with `status_last_update` to a `datetime` data type.

**First, convert the year and the day columns indicated as `arrival_date_year` and `arrival_date_day_of_month` respectively to a string column `str`.**

In [ ]:
# Write your code here
data[['arrival_date_year', 'arrival_date_day_of_month']] = data[['arrival_date_year', 'arrival_date_day_of_month']].astype('str')

<details>
<summary>Hint</summary>

We can use `.astype('type')` in order to fill out the missing values in the column. Alternatively, we can use a `lambda` function to convert them as well.

Examples:
```python
my_dataframe['col_name'] = my_dataframe['col_name'].astype('int')
```

```python
my_dataframe['col_name'] = my_dataframe['col_name'].apply(lambda x: int(x))
```

Both of these examples would yield the same result. It's only in the matter of preference.

</details>

**After converting them to `str`, we merge the three columns into a single column named `arrival_date` following the format `YYYY-Month-DD`**

Examples: `2015-July-1`, `2017-August-30`

In [ ]:
# Fill in the blanks

# col_arrival_dates = ['arrival_date_year','arrival_date_month','arrival_date_day_of_month']
# data['arrival_date'] = data[_______].____(lambda x: '_____'._____(x), axis=1)

col_arrival_dates = ['arrival_date_year','arrival_date_month','arrival_date_day_of_month']
data['arrival_date'] = data[col_arrival_dates].apply(lambda x: '-'.join(x), axis=1)

<details>
<summary>Hint</summary>

Inside `.apply()`, we can use a `lambda` function where it uses a string operator `.join()` to merge the three columns.

Example:
```python
ex_cols = ['year_col', 'month_col','day_col']

my_dataframe['col_name'] = my_dataframe[ex_cols].apply(lambda x: '/'.join(x), axis=1)
```
```python
my_dataframe['col_name'].head()
```
```
1972/04/23
2020/01/17
1998/09/30
1989/12/9
2000/02/6
```

</details>

To show our results:

In [ ]:
# Run the given cell

print(data['arrival_date'])

For us to check our progress, we would be running some `assert` statements and see if it results to an error.

If it shows an error, it means that we have to modify our code to the correct one.

In [ ]:
# Run the given cell

assert(pd.api.types.is_string_dtype(data['arrival_date']))
assert(all(data['arrival_date'].apply(lambda x: x.count('-')) == 2))
assert(data['arrival_date'].isna().sum() == 0)
assert(data['arrival_date'].shape == (87300,))

**Next, convert the `arrival_date` and `status_last_update` column into a datetime data type using `pd.to_datetime`**

In [ ]:
data[['arrival_date', 'status_last_update']].head(3)

In [ ]:
# Write your code here
data['arrival_date'] = pd.to_datetime(data['arrival_date'])
data['status_last_update'] = pd.to_datetime(data['status_last_update'])

<details>
<summary>Hint</summary>

We can use `pd.to_datetime()` like in the given example:
```python
my_dataframe['col_name'] = pd.to_datetime(my_dataframe['col_name'])
```

</details>

**Finally, remove the columns listed in `col_arrival_dates` in the dataframe `data`.**

In [ ]:
# Write your code here
data = data.drop(col_arrival_dates, axis=1)

<details>
<summary>Hint</summary>

We can use `.drop()` method to remove the columns like in the given examples:
```python
col_list = ['col1', 'col2', 'col3']
my_dataframe = my_dataframe.drop(col_list, axis=1)
```
```python
col_list = ['col1', 'col2', 'col3']
my_dataframe.drop(col_list, axis=1, inplace=True)
```

Both codes yield the same results. It's only in the matter of preference.

</details>

To check our data cleaning process, we would be running some `assert` cells. If the cell below produces an error, we would have to check our codes above and revise it accordingly.

In [ ]:
assert(data.shape == (87300, 22))
assert(pd.api.types.is_datetime64_dtype(data['arrival_date']))
assert(pd.api.types.is_datetime64_dtype(data['status_last_update']))

### Task 7: Checking for Outliers

To avoid producing skewed results, we would be checking on the validity of our data inputs by removing outliers in the data.

Outliers can take up different forms and meanings depending on the type of data at hand, but the common thing about them is that these are the data that are "almost impossible" to happen in the real world and these data can affect our results and summary statistics when left unnoticed.

**Show the summary statistics of the column `adr` in the dataframe `data`, and store the results into a variable `adr_summary`.**

In [ ]:
# Write your code here
adr_summary = data['adr'].describe()
adr_summary

<details>
<summary>Hint</summary>

We can use `.describe()` method to show the summary statistics of a column:
```python
my_dataframe['col_name'].describe()
```

</details>

In [ ]:
# Run the given cell

print(adr_summary)

We'll check if we got it correctly using `assert`

In [ ]:
# Run the given cell

assert(all(adr_summary.index == pd.Index(['count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max'])))
assert(adr_summary.shape == (8,))

Looking at the numbers, this wouldn't depict the outliers properly. What we can do here is to show a plot instead.

**Show a plot describing the histogram of `adr` in the data. Set the y-axis scale to `log` and give it a title named "Histogram of Hotel Guest ADR"**

In [ ]:
# Fill in the blanks

# fig, ax = plt.subplots(figsize=(10,6))
# ax = data['______'].plot(kind='_______', bins=30)

# ax.set_title('Histogram of Hotel Guest ADR')
# ax.set_yscale('log')

fig, ax = plt.subplots(figsize=(10,6))
ax = data['adr'].plot(kind='hist', bins=30)

ax.set_title('Histogram of Hotel Guest ADR')
ax.set_yscale('log')

# adr = Average Daily Revenue

Looking into our results, we can see that there's a lone data point in the 5000 range, and it wouldn't make sense to have an `adr` that high, so we check on the raw data by sorting the values in `adr`

In [ ]:
# Run the given cell

data['adr'].sort_values(ascending=False)

We can observe that there's one data that is very high compared to the rest. Another thing is that our lowest value is a negative number, so we remove it as well in our dataset.

Remove the rows that contains an `adr` of `5400` and `-6.38`

In [ ]:
# Write your code here
condition_filter = (data['adr'] != 5400) & (data['adr'] != -6.38)
data = data[condition_filter]
data

<details>
<summary>Hint</summary>

There are many ways that we can do in order to remove the data in our dataframe.

We can use a condition filter like this:
```python
condition_filter = my_dataframe['col'] != 0
my_dataframe = my_dataframe[condition_filter]
```

We can get the index of the row and remove it using `.drop()`:
```python
index_row = 123
my_dataframe = my_dataframe.drop(index_row)
```

We can use `.isin()` method and negate the result using `~`.
```python
my_dataframe = my_dataframe[~my_dataframe['col'].isin([0])]
```

All of these methods would yield the same output. It's only on the matter of preference


</details>

In [ ]:
# Run the given cell

data['adr'].sort_values(ascending=False)

To verify our progress, we would be running some `assert` statements. If it yields an error, kindly revise our previous code and try again.

In [ ]:
# Run the given cell

assert(data[data['adr'].isin([5400, -6.38])].shape == (0,22))
assert(data['adr'].min() == 0)
assert(data['adr'].max() == 510)

## Data Analysis and Insights

Now that we have cleaned our data, it's time to start on our Data Analysis for this task. Keep in mind the business objective is to learn why guests cancel their hotel room reservations.

For us to explore further, we can show the context of our data through Exploratory Data Analysis (EDA)

### Task 8: Show the amount lost from cancelled bookings

To find out how much did the company loss from cancelled hotel bookings, we would look into the data by showing some summary statistics and a bar plot.

**First, create a subset dataframe named `amount_plotdata` that excludes the rows where `status` is `No-Show`.**

In [ ]:
# Write your code here
amount_plotdata = data[data['status'] == 'No-Show']
amount_plotdata

<details>
<summary>Hint</summary>

We can create a condition to filter out data in the dataframe like in this example:
```python
my_dataframe = my_dataframe[my_dataframe['col1'] != 'value']
```

</details>

Next, create a seaborn barplot that uses the data `amount_plotdata`, `x` with `'status'`, `y` with `'adr'`, and `hue` with `'deposit_type'`.

Label the chart title `Average Daily Rate of Hotel Bookings`, the x label with `Booking Status`, y label with `Average Daily Rate`, and the legend title with `Deposit Type`.

In [ ]:
# Fill in the blanks

# fig, ax = plt.subplots(figsize=(10,5))
# sns.barplot(data=__________, x='_______', y='_______',
#             hue='_______',ax=ax)

# ax.set_title('__________')
# ax.set_xlabel('__________')
# ax.set_ylabel('__________')
# ax.legend(title='__________')

fig, ax = plt.subplots(figsize=(10,5))
sns.barplot(data=amount_plotdata, x='status', y='adr',
            hue='deposit_type',ax=ax)

ax.set_title('Average Daily Rate of Hotel Bookings')
ax.set_xlabel('Booking Status')
ax.set_ylabel('Average Daily Rate')
ax.legend(title='Deposit Type')

Lastly, we would show the summary statistics using the column `adr` grouped by `status` and `deposit_type`.

In [ ]:
# Fill in the blanks

# amount_plotdata.groupby(['________','________'])['________'].describe()

amount_plotdata.groupby(['status','deposit_type'])['adr'].describe()

### Task 9: Use `.groupby()` method to tally the cancellations and compute the cancellation rates per day

For us to look into the cancellations further, we can plot them over time. But first, we have to supply the appropriate data before we can plot them.

**Create three new columns named `arrival_day`, `arrival_month`, and `arrival_year` that uses `arrival_date` which gets the day, month, and year respectively.**

In [ ]:
# Fill in the blanks

# data['_________'] = data['_________'].__.__
# data['_________'] = data['_________'].__.__
# data['_________'] = data['_________'].__.__

data['arrival_day'] = data['arrival_date'].dt.day
data['arrival_month'] = data['arrival_date'].dt.month
data['arrival_year'] = data['arrival_date'].dt.year

<details>
<summary>Hint</summary>

You can use the `.dt.year`, `.dt.month`, and `.dt.day` attribute of a series

Example:
```python
my_dataframe['date_col'].dt.year
my_dataframe['date_col'].dt.month
my_dataframe['date_col'].dt.day
```

</details>

**Next, we create a new column named `is_canceled` that contains boolean values whether the column `status` has the value `Canceled` or not.**

In [ ]:
data['status'].value_counts()

In [ ]:
# Fill in the blanks

# data['_________'] = (data['_________'] == '_________')

data['is_canceled'] = (data['status'] == 'Canceled')
data['is_canceled'].value_counts()

**We then use `.groupby()` method to group the given arrival columns and find the `sum` and `count` of cancelled bookings and store the results to a variable named `canceled_data`**

In [ ]:
# Fill in the blanks

# grouping_cols = ['arrival_year','arrival_month','arrival_day']
# canceled_data = data._______(grouping_cols)['is_canceled'].agg(['____','___']).reset_index()

grouping_cols = ['arrival_year','arrival_month','arrival_day']
canceled_data = data.groupby(grouping_cols)['is_canceled'].agg(['sum','count']).reset_index()
canceled_data

We then create a new column named `cancel_rate` that is computed by dividing the columns `sum` and `count` from the dataframe `canceled_data`

```
cancel_rate = column_of_sum / column_of_count
```

In [ ]:
# Write your code here
canceled_data['cancel_rate'] = canceled_data['sum'] / canceled_data['count']

<details>
<summary>Hint</summary>

We can add a column from a computed value in Python like this

Example:
```python
my_dataframe['new_col'] = my_dataframe['col1'] + my_dataframe['col2']
```

</details>

In [ ]:
# Run the given cell

canceled_data.head()

### Task 10: Show a line plot of hotel booking cancellation rate

Using the created dataframe named `canceled_data`, create a lineplot using `sns.lineplot` containing the given arguments:
- `data`: `canceled_data`
- `x`: `'arrival_month'`
- `y`: `'cancel_rate'`
- `hue`: `'arrival_year'`
- `style`: `'arrival_year'`
- `markersize`: `10`
- `palette`: `'Dark2'`
- `ci`: `None`
- `markers`: `True`
- `dashes`: `False`
- `ax`:`ax`

Lastly, set the title named `Line Plot of Hotel Cancellation Rates Per Year`, x label named `Month Number`, y label named `Cancellation Rate`, the legend title named `Year`.

In [ ]:
# Fill in the blanks

# fig, ax = plt.subplots(figsize=(10,5))
# sns.lineplot(data=_______, x='_______', y='_______',
#              hue='_______', style='_______',
#              markersize=__, palette='_______', ci=_______,
#              markers=_______, dashes=_______,
#              ax=__)

# ax.set_xticks(range(1,13))

# ax.set_title('____________________________________')
# ax.set_xlabel('____________')
# ax.set_ylabel('____________')

# ax.legend(title='____')

fig, ax = plt.subplots(figsize=(10,5))
sns.lineplot(data=canceled_data, x='arrival_month', y='cancel_rate',
             hue='arrival_year', style='arrival_year',
             markersize=10, palette='Dark2', ci=None,
             markers=True, dashes=False,
             ax=ax)

ax.set_xticks(range(1,13))

ax.set_title('Line PLot of Hotel Cancellation Rates Per Year')
ax.set_xlabel('Month Number')
ax.set_ylabel('Cancellation Rate')

ax.legend(title='Year')

### Task 11: Use `.groupby()` method to tally the cancellations and compute the cancellation rates per deposit type and returning guest

**We then use `.groupby()` method to group the given columns and find the `sum` and `count` of cancelled bookings and store the results to a variable named `pointplot_data`**

In [ ]:
# Fill in the blanks

# grouping_cols = ['deposit_type','is_repeated_guest','arrival_date']
# pointplot_data = data.groupby(grouping_cols)['is_canceled'].agg(['sum','count']).reset_index()

grouping_cols = ['deposit_type','is_repeated_guest','arrival_date']
pointplot_data = data.groupby(grouping_cols)['is_canceled'].agg(['sum','count']).reset_index()
pointplot_data.head(3)

We then create a new column named `cancel_rate` that is computed by dividing the columns `sum` and `count` from the dataframe `pointplot_data`

```
cancel_rate = column_of_sum / column_of_count
```

In [ ]:
# Write your code here
pointplot_data['cancel_rate'] = pointplot_data['sum'] / pointplot_data['count']
pointplot_data.head(3)

<details>
<summary>Hint</summary>

We can add a column from a computed value in Python like this

Example:
```python
my_dataframe['new_col'] = my_dataframe['col1'] + my_dataframe['col2']
```

</details>

Then, we convert the column of `is_repeated_guest` to a data type `bool`.

In [ ]:
# Write your code here
pointplot_data['is_repeated_guest'] = pointplot_data['is_repeated_guest'].astype('bool')

<details>
<summary>Hint</summary>

We can use `.astype('type')` in order to fill out the missing values in the column. Alternatively, we can use a `lambda` function to convert them as well.

Examples:
```python
my_dataframe['col_name'] = my_dataframe['col_name'].astype('int')
```

```python
my_dataframe['col_name'] = my_dataframe['col_name'].apply(lambda x: int(x))
```

Both of these examples would yield the same result. It's only in the matter of preference.

</details>

In [ ]:
# Run the given cell

pointplot_data.head()

### Task 12: Show a Pointplot of Cancellation Rates by Deposit Type

Using the created dataframe named `pointplot_data`, create a poinplot using `sns.lineplot` containing the given arguments:
- `data`: `pointplot_data`
- `x`: `'deposit_type'`
- `y`: `'cancel_rate'`
- `hue`: `'is_repeated_guest'`
- `join`: `False`
- `capsize`:`0.1`
- `ax`:`ax`

Lastly, set the title named `Cancellation Rates by Deposity type and Repeating Guest`, x label named `Deposit Type`, y label named `Cancellation Rate`, the legend title named `Returning Guest`.

In [ ]:
# Fill in the blanks

# fig, ax = plt.subplots(figsize=(7,8))
# sns.pointplot(data=_______, x='_______', y='_______',
#               hue='_______', join=_______,
#               capsize=____, ax=___)

# ax.set_xlabel('_______')
# ax.set_ylabel('______________')
# ax.set_title('____________________________')
# ax.legend(title='____________________________')

fig, ax = plt.subplots(figsize=(7,8))
sns.pointplot(data=pointplot_data, x='deposit_type', y='cancel_rate',
              hue='is_repeated_guest', join=False,
              capsize=0.1, ax=ax)

ax.set_xlabel('Deposit Type')
ax.set_ylabel('Cancellation Rate')
ax.set_title('Cancellation Rates by Deposit Type and Repeating Guest')
ax.legend(title='Returning Guest')

### Task 13 (Optional): Other Analysis and Insights

**This portion of the Final Task is not required to answer but it is highly recommended to do so.**

For this part, this would be the place where you can provide additional plots, charts, visualizations, and insights that may be interesting into your report. Although, if you have no insights that you want to share, you can skip to the next part ("Conclusions and Recommendations").

You may add code or text cells by pointing your mouse to the end of a code cell and click "Code" or "Text".

![image.png]()

You can delete your cell by pressing the delete icon on the top right of the cell:
![image.png]()

Here are some of the things that we can explore using the given data (You can choose as much as you can):
- Relationship between cancellation rates and the number of special requests or booking changes
- Frequency of Cancellations by Resort Type and the presence of children per guest
- Relation between the number of days in the waiting list to guest's cancellation
- Solo/Couple guest vs. Family guest cancellation rates
- Influence of lead time to guest cancellation

Correspondingly, you may these methods to support your insights as well (if applicable):
- RFM analysis
- Hypothesis Testing

Additionally, you may add text cells if you wanted to provide some written explanation of the analysis that we make here.

In [ ]:
# You may freely add cells and write code for this part

In [ ]:
data.info()

In [ ]:
# Section 1
# Relationship between cancellation rates and the number of special requests or booking changes
cancellation_sr_bc = data.groupby(['special_requests', 'booking_changes'])['is_canceled'].mean().unstack()
cancellation_sr_bc

# Creating heatmap
plt.figure(figsize=(20, 3))
sns.heatmap(cancellation_sr_bc, annot=True, cmap='mako_r')
plt.title('Relationship between Cancellation Rates and Special Requests or Booking Changes')
plt.xlabel('Booking Changes')
plt.ylabel('Special Requests')
plt.show()

In [ ]:
# Section 2
# Frequency of Cancellations by Resort Type and the presence of children per guest
cancellation_frequency = data.groupby(['hotel', 'children'])['is_canceled'].mean().unstack()
cancellation_frequency

# Plotitng frequencies
plt.figure(figsize=(7.5, 2.5))
sns.heatmap(cancellation_frequency, annot=True, cmap='mako_r')
plt.xlabel('Presence of Children')
plt.ylabel('Resort Type')
plt.title('Frequency of Cancellations by Resort Type and Presence of Children Per Guest')
plt.show()

In [ ]:
# Section 3
# Solo/Couple guest vs. Family guest cancellation rates
data['guest_type'] = data.apply(lambda row: 'Solo/Couple'
                                if row['adults'] <= 2
                                else 'Family', axis=1)

# Calculate cancellation rates for each guest type
cancellation_guest_type = data.groupby('guest_type')['is_canceled'].mean()

# Plot the cancellation rates
plt.figure(figsize=(2.5, 2.5))
sns.barplot(x=cancellation_guest_type.index, y=cancellation_guest_type.values)
plt.xlabel('Guest Type')
plt.ylabel('Cancellation Rate')
plt.title('Cancellation Rates for Solo/Couple Guest vs. Family Guest')
plt.show()

## Conclusions and Recommendations

For this part, we would have to provide overall conclusion based on the observations and insights that we made in the previous part.

You may write down at least 2 sentences on what can you can observe in the data in general and what you can recommend to the management in order to resolve the increased booking cancellations given the results and insights that you've made so far.

---

*Write your answer by double-clicking on this sentence*\
-------------------------------------------------------------------------------\
**Conclusions** :

Referring to Section 2 and 3, most of booking cancellations came from Guests who have at least 2 children. We can explore this area to recommend steps to minimize booking cancellations since it is affecting revenue. Also, there are numerous special requests and booking changes that maybe disrupting management resulting to more cancellations.\
-------------------------------------------------------------------------------\
**Recommendations**

1.   Explore family-friendly amentities.
        - Explore rooms, facilities, and amenities. Have a checklist to cater especially guests with children. This could include play areas, kiddie pools, kid-friendly menus, family-friendly suites, and offer engaging activities for families.
2.   Market offers and packages for families with children.
        - Offer packages such as discount rates, bundled packages, and etc for families with multiple children. This could include free meals/snacks, children entertainment, family-catered attractions, and etc.
3.   Provide transparency on offers.
        - Clear communication from hotel staff and management. Clear expectation from what is offered in the advertisments, room amenities, room configurations, policies to avoid misunderstanding. Seek feedback and reviews from guests to aim lowering booking changes and special requests.
4.   Train staff to fulfill more of family needs especially with multiple children and addressing concerns promptly. Seek feedback and reviews from guests.

---

**END OF FILE**